*.egg-info
*.git-info
*.log
*.py[co]
*.sublime-workspace
.*.cfg
._*
.DS_Store
.idea/
.venv
_build
bin
build
compose.sh
develop-eggs
dist
eggs
media/
robot_output.xml
/static/
!/src/**/static/
typescript
var
venv
local.py
