{# {% extends "base.html" %} #}
{% load wagtailcore_tags cache static wagtailimages_tags %}
{% block content %}
    <div class='row'>
        <div class='col-auto'>
            <h1>Archiver</h1>
            <dl class='row'>
                <dt class='col-md-4'>ZIP target directory</dt>
                <dd class='col-md-8'>{{page.zip_target}}</dd>
                <dt class='col-md-4'>Max ZIP file size (in gigabytes)</dt>
                <dd class='col-md-8'>{{page.max_zip_size}}</dd>
            </dl>                
        </div>        
    </div>


{% endblock content %}
{# -*- HTML (Jinja) -*- #}
